@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
* {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background-color: #fafafa;
  color: #3f3f3f;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #fafafa;
  letter-spacing: .02em;
  margin-bottom: -1.3em;
}

img {
  width: 150px;
}

.form h2 {
  font-size: calc(9px + 2vmin);
  font-weight: 700;
}

.form p {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.55em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

input {
  padding: 5px; 
  border: 1px solid #3a3a3a;; 
  margin-right: .4em;
  border-radius: .8em;
  font-size: 1.3em;
}

input:focus {
  outline-width: 0;
}

button {
  padding: 7px 20px 7px 20px; 
  background:#0d223f;
  color: #fafafa;
  border-radius: .8em;
  font-size: 1.3em;
}

button:hover {
  background:#91a3bd;
}

button:focus {
  outline-width: 0;
}

.description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.results {
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}

.column-one {
  float: left;
  margin-right: 3em;
}

.column-one h3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #0d223f;
}

.column-one p {
  font-size: 1.4em;
  margin-top: -.3em;
  margin-bottom: 1.5em;
}

.column-two {
  float: left;
}

.column-two h3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #0d223f;
}

.column-two p {
  font-size: 1.4em;
  margin-top: -.3em;
  margin-bottom: 1.5em;
}

footer h3 {
  line-height: 1.2em;
  font-size: 1.1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  clear:both;
}

h4 {
  font-size: .7em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  clear:both;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 1000px) {
  .description {
    width: 80%;
  }

  .form p {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .column-one {
    float: none;
    margin-right: 0em;
  }

  .column-two {
    float: none;
  }

  .description {
    font-size: .9em;
  }

  footer h3 {
    font-size: 1em;
  }

  footer {
    padding-top: -5em;
    padding-bottom: 2em;
  }

  h4 {
    font-size: .5em;
  }
}