@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

* {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background-color: #282c34;
  color: #fafafa;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #fafafa;
  letter-spacing: .1em;
  height: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form h2 {
  font-size: calc(9px + 2vmin);
  font-weight: 700;
}

.form p {
  font-size: calc(2.5px + 2vmin);
  text-align: left;
  line-height: 1.55em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

input {
  padding: 5px; 
  border: 2px solid #fafafa; 
  margin-right: .4em;
  border-radius: .8em;
  font-size: 1.3em;
}

button {
  padding: 7px 20px 7px 20px; 
  background:#fafafa;
  color: #282c34;
  border-radius: .8em;
  font-size: 1.3em;
}

